/* POPUP STYLES */
.popup {
    background-color: var(--black);
    padding: 50px 50px 0 50px;
    border-radius: 10px 10px 0 0;
    margin-top: 100px;
    min-height: 25%;
    max-height: 40%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}

div.popup#demo-creds {
  position: fixed;
  top: 5%;
  left: 10%;
  filter: drop-shadow(5px 5px 3px gray);
  border-radius: 10px;
  background-color: #127c2c;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 20px 40px 20px 20px;
}

div.popup#demo-creds header {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  /* font-weight: bold; */
  text-transform: uppercase;
}

div.popup#demo-creds span.label {
  color: silver;
}

div.demo-creds-body {
  position: relative;
  display: flex;
  flex-direction: column;
}

div.popup#demo-creds .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16pt;
  cursor: pointer;
  color: silver;
}

div.popup#demo-creds .close-button:hover {
  color: white;
}