/* *************** */
/* * REACT-SELECT  */
/* *************** */

/* * Add-Edit: User / Ingredient / Recipe */

.add-edit-user__control {
  border: 2px solid transparent !important;
  border-radius: 7px !important;
  min-width: 400px !important;
  /* width: 100% !important; */
  max-width: 450px !important;
}

.add-edit-user__option {
  color: black !important;
  width: fit-content;
}

.add-edit-recipe__control,
.add-edit-ingredient__control {
  border: 2px solid transparent !important;
  border-radius: 7px !important;
  min-width: 400px !important;
  /* background-color: blue; */
}

.add-edit-recipe__control--is-disabled,
.add-edit-ingredient__control--is-disabled {
  background-color: darkgray !important;
  color: gray;
}

.add-edit-user__control--is-focused,
.add-edit-recipe__control--is-focused,
.add-edit-ingredient__control--is-focused {
  border: 2px solid lightgreen !important;
}

.add-edit-recipe__option,
.add-edit-ingredient__option {
  color: black !important;
  width: fit-content;
}