:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: rgb(10, 10, 10);
  --black2: rgb(15, 15, 15);
  --grey-dark: #3f3f3f;
  --grey: rgb(30, 30, 30);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--black);
  color: white;
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

h3 {
  font-size: 16pt;
}

ul {
  list-style-position: inside;
}

.light {
  color: black;
}

.dark {
  color: whitesmoke
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link.light:hover {
  color: rgb(0, 0, 255);
}

.link.dark:hover {
  color: rgb(138, 255, 255);
}

.skeleton {
  animation: pulse 2s infinite ease-in-out;
}



/* ***************** */
/** GENERIC HELPERS  */
/* ***************** */

.margin-top-20 {
  margin-top: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}



/* **************** */
/** INPUT ELEMENTS  */
/* **************** */

input {
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
}

input::placeholder {
  font-size: 12pt;
  font-style: italic;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

input[type="checkbox"]:not([disabled]) {
  cursor: pointer;
}

input[type="text"].disabled {
  color: black;
  background-color: #B6B6B6;
}

.disabled:hover {
  cursor: default !important;
}

select[disabled] {
  cursor: default;
}



/* ********************************* */
/** SHARED STATUS AND ERROR ELEMENTS */
/* ********************************* */



/* ************ */
/** ANIMATIONS  */
/* ************ */

@keyframes pulse {
  0% {
    background-color: #414141;
  }

  50% {
    background-color: #888888;
  }

  100% {
    background-color: #414141;
  }
}

























/* * ADD INGREDIENT */
form#add-edit-ingredient select,
select.admin-select[name="user"],
select.admin-select[name="ingredient"],
form#add-edit-ingredient input[type="text"] {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14pt;
  max-width: 275px;
  border: none;
}

select.admin-select[name="user"],
select.admin-select[name="ingredient"] {
  min-width: 400px;
}

input#add-edit-ingredient-submit {
  background-color: rgb(188, 226, 249);
  border: none;
  font-size: 14pt;
  border-radius: 10px;
  justify-self: flex-end;
  padding: 9px 15px;
  width: 110px;
}

input#add-edit-ingredient-submit:hover {
  cursor: pointer;
}

input#add-edit-ingredient-submit:hover:not([class*="disabled"]) {
  background-color: lightskyblue;
}

form#add-edit-ingredient input[name="name"] {
  width: 100%;
}


#add-edit-ingredient-name-module input[name="name"] {
  max-width: 100% !important;
}

#add-edit-ingredient-user-module {
  flex: 4;
}

select.admin-select[name="user"],
#add-edit-ingredient-user-module select {
  max-width: 100% !important;
}

#add-edit-ingredient-submit-module {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.add-edit-ingredient-name-module {
  flex: 2;
}

#add-edit-ingredient-submit-module {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

input#add-edit-ingredient-submit:active {
  background-color: whitesmoke !important;
}

#add-edit-ingredient-name-module input {
  max-width: 380px;
}

.form-module.season {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  /* margin-top: 5px; */
}







div.checkbox-container:not([class*="disabled"]) label.default-tags:hover {
  background-color: rgba(224, 255, 255, 0.95);
  color: black;
}

.form-module div.checkbox-container:not([class*="disabled"]) label.season:hover {
  background-color: rgba(238, 166, 144, 0.95);
  color: black;
}












* {
  /* border: 1px solid red; */
}