:root {
  --black: rgb(10, 10, 10);
  --black2: rgb(15, 15, 15);
  --grey: rgb(30, 30, 30);
  --grey-dark: #3f3f3f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--black);
  color: white;
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

h3 {
  font-size: 16pt;
}

ul {
  list-style-position: inside;
}

.light {
  color: black;
}

.dark {
  color: whitesmoke
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link.light:hover {
  color: rgb(0, 0, 255);
}

.link.dark:hover {
  color: rgb(138, 255, 255);
}

.skeleton {
  animation: pulse 2s infinite ease-in-out;
}

.disabled:hover {
  cursor: default !important;
}


/* ***************** */
/** GENERIC HELPERS  */
/* ***************** */

.margin-top-20 {
  margin-top: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}



/* **************** */
/** INPUT ELEMENTS  */
/* **************** */

input {
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
}

input::placeholder {
  font-size: 12pt;
  font-style: italic;
  padding-left: 15px;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

input[type="checkbox"]:not([disabled]) {
  cursor: pointer;
}

select[disabled] {
  cursor: default;
}



/* ************ */
/** ANIMATIONS  */
/* ************ */

@keyframes pulse {
  0% {
    background-color: #414141;
  }

  50% {
    background-color: #888888;
  }

  100% {
    background-color: #414141;
  }
}











div.checkbox-container:not([class*="disabled"]) label.default-tags:hover {
  background-color: rgba(224, 255, 255, 0.95);
  color: black;
}

.form-module div.checkbox-container:not([class*="disabled"]) label.season:hover {
  background-color: rgba(238, 166, 144, 0.95);
  color: black;
}



/* *************** */
/* * REACT-SELECT  */
/* *************** */

.add-edit-user__control {
  border: 2px solid transparent !important;
  border-radius: 12px !important;
  min-width: 400px !important;
  /* width: 100% !important; */
  max-width: 450px !important;
}

.add-edit-user__option {
  color: black !important;
  width: fit-content;
}

.add-edit-ingredient__control {
  border: 2px solid transparent !important;
  border-radius: 12px !important;
  min-width: 400px !important;
  /* background-color: blue; */
}

.add-edit-ingredient__option {
  color: black !important;
  width: fit-content;
}

.add-edit-ingredient__control--is-disabled {
  background-color: darkgray !important;
  color: gray;
  border: none !important;
}

.add-edit-user__control--is-focused,
.add-edit-ingredient__control--is-focused {
  border: 2px solid lightgreen !important;
}

* {
  /* border: 1px solid red; */
}