.splash-page {
  display: flex;
  color: white;
}

.splash-page header {
  padding: 20px;
}

.splash-page .login-container {
  position: absolute;
  top: 10vh;
  left: 10vw;
  display: flex;
  align-items: center;
  width: fit-content;
}

.splash-page .login-container:hover {
  cursor: pointer;
  text-decoration: underline;
  color: lightblue;
}


.splash-page .login-container span {
  display: flex;
  align-items: center;
  gap: 10px;
}

