.module {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 15px;
  border: 3px solid gray;
  border-radius: 15px;
  min-width: 300px;
  height: fit-content;
  transition: all 250ms;
  width: 630px;
}

.module-body {
  padding-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
}

.row-1 {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
}

div.plus-circle-container {
  display: flex;
  align-items: center;
  font-size: 16pt;
  cursor: pointer;
}

div.plus-circle-container.dark:hover {
  color: rgb(138, 255, 255);
}

div.tags-module {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
}

label.user-tags:hover {
  color: black;
  background-color: lightgoldenrodyellow;
}

.error span {
  color: #ff7f7f;
}

.status span {
  color: lightgreen;
}

.module.inactive {
  cursor: pointer;
  background-color: var(--grey);
}

.module.inactive:hover {
  border-color: white;
  background-color: var(--black);
}

.module.active {
  background-color: var(--black);
  border-color: silver;
}

.module.active h3 {
  color: lightgreen;
  transition: all .4s;
}

.add-edit-mode-select {
  display: flex;
  gap: 10px;
}

h3.unselected {
  color: gray !important;
}







form.add-edit-recipe select,
select.admin-select[name="user"],
select.admin-select[name="recipe"],
form.add-edit-recipe input[type="text"] {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14pt;
  max-width: 275px;
  border: none;
}

select.admin-select[name="user"],
select.admin-select[name="recipe"] {
  min-width: 400px;
}

input.add-edit-recipe-submit {
  background-color: rgb(188, 226, 249);
  border: none;
  font-size: 14pt;
  border-radius: 10px;
  justify-self: flex-end;
  padding: 9px 15px;
  width: 110px;
  max-height: 41px;
}

input.add-edit-recipe-submit:hover {
  cursor: pointer;
}

input.add-edit-recipe-submit:active {
  background-color: whitesmoke !important;
}

input.add-edit-recipe-submit:hover:not([class*="disabled"]) {
  background-color: lightskyblue;
}

form.add-edit-recipe input[name="name"] {
  width: 100%;
}

.add-edit-recipe-name-module input[name="name"] {
  max-width: 100% !important;
}

.add-edit-recipe-user-module {
  flex: 4;
}

select.admin-select[name="user"],
.add-edit-recipe-user-module select {
  max-width: 100% !important;
}

.add-edit-recipe-name-module {
  flex: 2;
}

.add-edit-recipe-name-module input {
  max-width: 380px;
}

.form-module.season {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  /* margin-top: 5px; */
}
