.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 100%; */
    /* padding: 0 !important; */
    /* margin: 0 !important; */
}

.row-1 {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
}