
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20pt;
  padding: 2px 3px;
  border-radius: 5px;
  transition: all 100ms;
}

.close-btn:hover {
  background-color: whitesmoke;
  color: black;
}

.close-btn:active {
  background-color: lightcoral;
}

