.add-data-modules {
  display: flex;
  flex-wrap: wrap;
}

.add-data > header {
  padding-left: 40px;
}

.add-data {
  padding: 15px;
  width: 80vw;
}

@media (max-width: 1550px) {
  .add-data {
    width: unset;
  }

  .add-data-modules {
    justify-content: center;
  }
}
