label.season {
  background-color: rgba(238, 166, 144, 0.25);
  color: darkgray;
}

label.default-tags:hover,
label.default-tags.checked {
  background-color: rgba(224, 255, 255, 0.95);
  color: black;
}

label.user-tags:hover,
label.user-tags.checked {
  background-color: rgba(250, 250, 210, 0.95);
  color: black;
}

label.season:hover,
label.season.checked {
  background-color: rgba(238, 166, 144, 0.95);
  color: black;
}

label.default-tags {
  background-color: rgba(224, 255, 255, 0.25);
  color: darkgray;
}

label.user-tags {
  background-color: rgba(250, 250, 210, 0.25);
  color: darkgray;
}

label.default-tags,
label.user-tags,
label.add-tags,
label.season {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  user-select: none;
  transition: 0.2s all;
}

.tag.disabled {
  background-color: black !important;
  color: gray !important;
}

.tag:not([disabled]):hover {
    cursor: pointer;
}