.admin-select {
  width: 100%;
  height: 42px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
  color: #000;
  box-sizing: border-box;

  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;

  background-image: url('@/icons/down-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16pt;
}

label.season {
  background-color: rgba(238, 166, 144, 0.25);
  color: darkgray;
}

label.default-tags.checked {
  background-color: rgba(224, 255, 255, 0.95);
  color: black;
}

label.user-tags.checked {
  background-color: rgba(250, 250, 210, 0.95);
  color: black;
}

label.season.checked {
  background-color: rgba(238, 166, 144, 0.95);
  color: black;
}

label.default-tags {
  background-color: rgba(224, 255, 255, 0.25);
  color: darkgray;
}

label.user-tags {
  background-color: rgba(250, 250, 210, 0.25);
  color: darkgray;
}

div.checkbox-container label.skeleton {
  width: 100px;
  height: 39px;
}

div.checkbox-container label.skeleton,
label.default-tags,
label.user-tags,
label.add-tags,
label.season {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  user-select: none;
  transition: 0.2s all;
}
