.form-module {
  flex: 1;
  width: 100% !important;
}

.form-module.default-tags {
  border-radius: 10px;
  padding: 10px;
}

/** CHECKBOX */
.field-container {
  /* display: flex; */
  /* width: 100%; */
  padding: 10px 0;
  justify-content: space-around;
}

.field-container {
  padding-top: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
