.row {
  display: flex;
  position: relative;
  margin: 10px 0;
  width: 100%;
  gap: 15px;
  margin: 0 !important;
}

.status-row {
  min-height: 32px;
}

.status-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

div.status-container span,
div.error span {
  flex-wrap: nowrap;
  max-height: 32px;
  font-family: monospace;
  font-size: 10pt;
  display: flex;
  padding-top: 10px;
}

.nested {
  padding: 0 15px;
}