/* ************************** */
/** HIGH LEVEL MODULE STYLING */
/* ************************** */

.module.inactive {
  cursor: pointer;
  background-color: var(--grey);
}

.module.inactive:hover {
  border-color: cadetblue;
  background-color: var(--black);
}

.module.active {
  background-color: var(--black);
  border-color: rgba(95, 158, 160, 0.65);
}

.module.active h3 {
  color: lightgreen;
  transition: all .4s;
}

div.module-header {
  margin: 0;
  margin-right: 25px;
  /* margin-bottom: 11px; */
}

div.module-header h2 {
  font-size: 20pt;
}

div.module-subheader {
  display: flex;
  padding: 5px 0;
}

span.cat-data-label {
  text-transform: uppercase;
  font-size: 12pt;
  color: lightcyan;
  margin-right: 5px;
}

span.cat-data {
  width: 100%;
  font-size: 12pt;
  min-height: 22px;
}

.grand-module>header {
  margin: 10px;
  padding: 10px;
}


.module {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px 30px 15px 30px;
  margin: 15px;
  border: 3px solid gray;
  border-radius: 15px;
  min-width: 300px;
  height: fit-content;
  transition: all 250ms;
}

.module-body {
  padding-top: 20px;
}

.users-module {
  /* width: 500px; */
  width: fit-content;
}